[submodule "RPStack_WebTester"]
	path = RPStack_WebTester
	url = https://github.com/ROSMicroPy/RPStack_WebTester.git
[submodule "RobotArchitect"]
	path = RobotArchitect
	url = https://github.com/ROSMicroPy/RobotArchitect.git
[submodule "ROSMicroPy"]
	path = ROSMicroPy
	url = https://github.com/ROSMicroPy/ROSMicroPy.git
[submodule "RPStack/control/http"]
	path = RPStack/control/http
	url = https://github.com/ROSMicroPy/rmp_pylib-micropyserver.git
